<p-sidebar *ngIf="!minimal" [(visible)]="visible" position="right"
    [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'" styleClass="layout-config-sidebar w-18rem">


    <!-- <ng-container *ngIf="!minimal"> -->
    <h5>Menu Type</h5>
    <div class="flex flex-wrap row-gap-3">
        <div class="flex align-items-center gap-2 w-6">
            <p-radioButton name="menuMode" value="drawer" [(ngModel)]="menuMode" inputId="mode7"></p-radioButton>
            <label for="mode6">Drawer</label>
        </div>
        <div class="flex align-items-center gap-2 w-6">
            <p-radioButton name="menuMode" value="horizontal" [(ngModel)]="menuMode" inputId="mode5"></p-radioButton>
            <label for="mode4">Horizontal</label>
        </div>
    </div>


    <!-- </ng-container> -->

    <h5>Color Scheme</h5>
    <div class="field-radiobutton">
        <p-radioButton name="colorScheme" value="light" [(ngModel)]="colorScheme" inputId="mode-light"></p-radioButton>
        <label for="mode-light">Light</label>
    </div>
    <div class="field-radiobutton">
        <p-radioButton name="colorScheme" value="dim" [(ngModel)]="colorScheme" inputId="mode-dim"></p-radioButton>
        <label for="mode-dim">Dim</label>
    </div>
    <div class="field-radiobutton">
        <p-radioButton name="colorScheme" value="dark" [(ngModel)]="colorScheme" inputId="mode-dark"></p-radioButton>
        <label for="mode-dark">Dark</label>
    </div>


</p-sidebar>