/* You can add global styles to this file, and also import other style files */
$gutter: 1rem; //for primeflex grid system

/* Layout */
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";



/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";


.p-togglebutton {
    height: 100%;
}

// Check later for better optimization
.p-button-size {
  height: 28px !important;
  width: 28px !important;
}

// Tree Layout
.tree_layout_custom{
  .p-splitter-panel{
    overflow: scroll;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      width: 6px;
      // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
    }
    &:nth-child(1) {
      min-width: 280px;
      max-width: 350px;
      flex-direction: column;
      .p-element{
        width: calc(100% - 1%);
      }
    }
    // Pannels Padding
    .p-tabview-panels{
      padding: 10px;
    }
  }
}


// Filter
.tree_layout_custom {
  .p-tree{
    .p-tree-filter-container {
      margin: 0;
      padding: 10px 10px 0;
    }
  }
  .p-splitter-panel searchicon {
    width: 100%!important;
    position: relative;
    .p-icon {
      top: -35px!important;
    }
  }
}




// Layout QUick Fix
.layout-content-wrapper {
  max-height: 95vh;
  overflow: scroll;
}

.toggle_buttons{
  display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-left: 10px!important;
    padding-right: 10px!important;
  button{
    justify-content: center;
    font-size: 12px;
    padding: 8px 10px !important;
  }
}

.d-flex{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  label{
    min-width: 170px;
  }
}


.text_field_style {
  background: white;
  min-width: 100px;
  padding: 3px 5px!important;
  border-radius: 4px;
  border: 1px solid #bda3fc;
  cursor: not-allowed;
}